@reference "tailwindcss";


.container {
    @apply relative;

}




/* :global(.swiper-slide) {

    margin-inline: 0 !important;

} */

.container :global(.swiper) {
    @apply pb-2
}

.container :global(.swiper-pagination) {
    @apply bottom-[-6px];
}

.swiper-slide {
    @apply h-auto my-2 mx-2 w-full bg-[#ededed] rounded-lg border border-[#fffff];
}


.swiper__arrow-left {
    @apply text-2xl mx-4 text-[#9d44B5] cursor-pointer p-0 absolute left-2 top-1/2 -translate-y-1/2 z-10;
}

.swiper__arrow-right {
    @apply text-2xl mx-4 text-[#9d44B5] cursor-pointer p-0 absolute right-2 top-1/2 -translate-y-1/2 z-10;
}

.swiper-pagination {
    @apply bottom-[-6px]
}


@media only screen and (max-width:576px) {
    .container :global(.swiper-slide) {

        margin-inline: 0 !important;

    }

}