
@reference "tailwindcss";

.swiper-slide {
    @apply h-auto my-2 mx-2 bg-[#ededed] rounded-lg border border-[#fffff];
}


.swiper__arrow-left {
    @apply  text-2xl mx-4 text-[#9d44B5] cursor-pointer  p-0 absolute left-2 top-1/2 -translate-y-1/2 z-10;
}
.swiper__arrow-right {
    @apply text-2xl mx-4 text-[#9d44B5] cursor-pointer  p-0 absolute right-2 top-1/2 -translate-y-1/2 z-10;
}