@reference "tailwindcss";
.header {
    @apply sticky top-0 z-10 flex justify-between p-2  text-white
      w-full bg-linear-to-r from-[#9D44B5] to-[#DD76F9];
      button {
        @apply cursor-pointer;
      }

    
}